{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

		<div class="row top-menu">
			<div class="col-md-10"></div>
			<div class="col-md-2 text-right"></div>
		</div>
		<div class="row divider blue">
			<div class="col-md-12"></div>
		</div>
		<div class="row banner main">
			<div class="col-md-1"></div>
			<div class="col-md-11 padding-none">
				<h1>{{product.name}}</h1>
			</div>
		</div>
		<div class="col-md-1"></div>
			<div class='btn-group'>
					<a <span class="btn" href = '{{url_for('categoryMenu', category_id=category.id) }}'>List of Products</span></a>
					<a <span class="btn" href = '{{url_for('newProduct', category_id=category.id)}}'>Create a New Product</span></a>
					<a <span class="btn" href = '{{url_for('deleteProduct',category_id = category.id, product_id=product.id)}}'>Delete Product</span></a>
					<a <span class="btn" href = '{{url_for('editProduct',category_id = category.id, product_id=product.id)}}'>Edit Product</span></a>
			</div>

			<div class = 'flash'>
					{% with messages = get_flashed_messages() %}
						{% if messages %}
							{% for message in messages %}
								<strong> {{ message }} </strong>
							{% endfor %}
						{% endif %}
					{% endwith %}
			</div>


			<form action="{{url_for('deleteProduct', category_id = category.id, product_id = product.id)}}" method = 'POST'>
				<div class="row">
					<div class="col-md-1"></div>
						<div class="col-md-10 menu-item">
	<!--						<div class="col-md-1"></div>-->
							<div class="col-md-11 padding-none">
								<dl>
									<h1>Delete Product: {{product.name}}</h1>
									<!--<dt>Product to Delete:</dt>
										<dd><input type='text' size='30' name='name' value = '{{product.name}}' readonly></dd>-->
									<dt><h3><strong>Description:</dt>
										<dd><textarea name = 'description' rows='5' cols='40' readonly>{{product.description }}</textarea></dd>
									<dt>Price:</dt>
										<dd><input type = 'text' size = '8' name='price' value = '{{product.price}}' readonly></strong></h3></dd>
								</dl>
							</div>
      				<input class="btn" type='submit' value='Confirm Delete'>
      				<a class="btn" href = '{{url_for('categoryMenu', category_id = category.id)}}'> Cancel </a>
						</div>
					</div>
		</form>
	{% endblock %}
